doctype html
title
	| css-analytics.com: CSS Analytics for designers and developers / by Project Wallace
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
link(rel='stylesheet' href='https://codepen.io/bartveneman/pen/XQPEmY.css')

block content
